.arrow {
  cursor: pointer;
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 5px;
  height: 75px;
  width: 100%;
}

.arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  border-radius: 5px;
  background:#7DB6A1;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg, transparant);
  z-index:-1;
}

.arrow:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 51%;
  border-radius: 5px;
  background: #7DB6A1;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
  z-index:-1;
}

.arrow p {
  color: white;
  font-family: Georgia, serif;
  margin: 0px;
}

.arrow h1 {
  margin: 0px;
}

/* Arrow when hovered */
.arrow.hovered {
  margin-top: -25px;
  display: none;
  cursor: pointer;
  width: 100%;
  height: 115px;
  /* scroll-animation when arrow dropdown appears */
  -webkit-animation-name: scrollingDown; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  animation-name: scrollingDown;
  animation-duration: 0.5s;
}

.arrow-hovered-content {
  padding-top: 20px;
}

.arrow.hovered .arrow-hovered-content{
  margin: 0px;
  -webkit-animation: appearance 1s; /* Safari 4+ */
  -moz-animation:    appearance 1s; /* Fx 5+ */
  -o-animation:      appearance 1s; /* Opera 12+ */
  animation:         appearance 1s;
}

.arrow.hovered:hover {
  display: block;
}

.arrow:hover + .arrow.hovered {
  display: block;
}

/* The animations */
@keyframes scrollingDown {
  0%   {height: 0px;}
  100% {height: 115px;}
}

@-webkit-keyframes appearance {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes appearance {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes appearance {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes appearance {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* adjustments when on mobile */
@media (max-width: 790px) {
  .arrow {
    height: 100px;
   }

  .arrow.hovered {
  margin-top: -50px;
  }

  .arrow h1 {
    margin-top: 20px;
  }
  
}