<!-- generate arrow-component -->

<!-- add ng-click oid to make div clickable -->
<div class="arrow-container">
    <!-- Not hovered state -->
    <div class="arrow">
        <h1>{{movieTitle}} <i>({{yearOfTheatre}})</i></h1>
        <p>{{directorName}}</p>
    </div>
    <!-- Hovered state -->
    <div class="arrow hovered">
        <div class="arrow-hovered-content">
            <p>{{summary}}<p>
            <button class="btnPrimary" id="">
                <a routerLink="/question-component" routerLinkActive="active">Do Quiz</a>
            </button>
        </div>  
    </div>
</div>
   