.arrow {
  cursor: pointer;
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 15px;
  height: 60px;
  width: 90%;
}

.arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  border-radius: 7px;
  background:#7DB6A1;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg, transparant);
  z-index:-1;
}

.arrow:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 51%;
  border-radius: 5px;
  background: #7DB6A1;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
  z-index:-1;
}

/* Paragraph in Arrow */
.arrow p {
  color: white;
  font-family: Georgia, serif;
}

/* Arrow when hovered */
.arrow.hovered {
  margin-top: -18px;
  display: none;
  cursor: pointer;
  width: 90%;
  height: 115px;

  /* scroll-animation when arrow dropdown appears */
  -webkit-animation-name: scrollingDown; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  animation-name: scrollingDown;
  animation-duration: 0.5s;
}

.arrow.hovered:hover {
  display: block;
}

.arrow:hover + .arrow.hovered {
  display: block;
}

/* The animation */
@keyframes scrollingDown {
  0%   {height: 0px;}
  100% {height: 115px;}
}